main{
    margin: 0 auto;
    width: 85%;
    & img{
        cursor: pointer;
        &:hover{
            @include filter(img)
        }
    }
}

main #div1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 0;
    & p:nth-child(even){
        opacity: .5;
        font-weight: 700;
    }
    & p:nth-child(odd){
        cursor: pointer;
        &:hover{
            border-bottom: 1px black solid;
        }
    }
}

main #news1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    & article{
        margin: 0 auto;
        &:first-child{
            grid-column: span 2;
        }
        &:nth-child(2){
            display: grid;
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

main #news1 article:first-child{
    & > a:first-child{
        text-align: center;
        font-size: 2.5rem;
        &:hover{
        @include filter(a)
        }
    }
}