@mixin filter($tag) {
	@if $tag == a {
		color: silver;
		border-bottom-color: silver;
	} @else if $tag == img {
		opacity: 0.7;
	}
}

.bigImg {
	height: 350px;
	width: 100%;
}

.smallImg {
	height: 200px;
	width: 100%;
}

.vSmallImg {
	padding-right: 1rem;
	height: 60px;
	min-width: 150px;
}

.SArticle {
	& > a:nth-child(2) {
		font-size: 1.2rem;
	}
	& ul {
		list-style-type: none;
		padding: 0;
		margin-top: 1em;
		& li {
			border-top: 1px solid silver;
			padding: 1rem 0;
			display: flex;
			& a:hover {
				text-decoration: underline;
				border: 0;
				width: fit-content;
			}
			// margin-bottom: 1.5rem;
		}
	}
}
