
@mixin filter($tag){
    @if $tag == a{
        color: silver;
        border-bottom-color: silver;
    }
    @else if $tag == img{
        filter: grayscale(50%) contrast(50%) brightness(100%); 
    }
}

.bigImg{
    height: 400px;
    width: 100%;
}

.smallImg{
    height: 250px;
    width: 100%;
}

.SArticle{
    & a:nth-child(2){
        font-size: 1.2rem;
    }
    & ul {
        list-style-type: none;
        padding: 0;
        margin-top: 1em;
        & li{
        border-top: 1px solid silver;
        padding: .7rem 0;
        }
    }
}
