
@mixin filter($tag){
    @if $tag == a{
        color: silver;
        border-bottom-color: silver;
    }
    @else if $tag == img{
        filter: grayscale(50%) contrast(50%) brightness(100%); 
    }
}

.bigImg{
    height: 350px;
    width: 100%;
}

.smallImg{
    height: 200px;
    width: 100%;
}
