@import './variablesCNN';
@import './mainCNN';

a{
    text-decoration: none;
    color: inherit;
    &:hover{
        border-bottom: 1px black solid;
    }
}

img{
    cursor: pointer;
    &:hover{
        @include filter(img)
    }
}

body{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    background-color: black;
    height: 40vh;
    width: 100%;
    display: grid;
    place-items: center;
    & *{
        color: white;
        text-decoration: none;
    }
    & > div{
        margin: 0 auto;
        align-items: center;
        height: 5rem;
        width: 50%;
        background: linear-gradient(20deg, rgb(153, 153, 153), rgb(61, 61, 61));
    }
    & nav{
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        width: 100%;
        background-color: black;
        width: 85%;

    }
}

header nav{
    & a{
        font-weight: 600;
    }
    & > div:first-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        // width: 60%;
        & img{
            height: 50px;
            width: 50px;
        }
    }
    & > div:last-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        // width: 18%;
        & button{
            background-color: black;
            border: white 2px solid;
            border-radius: 6px;
            font-weight: 600;
            padding: 0em .6em;
            &:hover{
                background-color: rgb(161, 161, 161);
            }
        }
    }
}
